/* -----------------
Font Family 
-------------------*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@500;700&family=Volkhov:wght@700&display=swap");

/* ----------------
Common CSS
------------------- */

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  vertical-align: middle;
}

/* -----------------
Body Style  
-------------------*/
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  /* font-family: "Poppins", sans-serif; */
  /* font-family: "Volkhov", serif; */
}

/* -----------------
Header Area CSS
-------------------*/
.header-area {
  background-image: url("../img/background.png");
  height: 89vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  top: -1rem;
}

.nav,
.logo {
  margin-top: 16px;
}

.nav-item {
  margin: 0 25px;
}

.nav-item:nth-last-child(2) {
  border: 2px solid black;
  border-radius: 5px;
}

.nav-link {
  color: #323232;
}

.nav-link:hover {
  color: #fff;
  background-color: black;
}

.header-img img {
  text-align: center;
}

.head-text {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.head-text-title {
  color: tomato;
  letter-spacing: 1px;
  margin-bottom: 5px;
}

.head-text h1 {
  font-family: "Volkhov", serif;
  font-size: 80px;
  margin-bottom: 10px;
}

.head-text p {
  text-align: justify;
}

.text-rib {
  position: relative;
}

.decor-line {
  position: absolute;
  margin: 75px 0 0 -265px;
  z-index: -1;
}

/* -----------------
Services Area CSS
-------------------*/

/* ----------------------
Top Destination Area CSS
-------------------------*/

/* -----------------
Booking Area CSS
-------------------*/

/* -----------------
Testimonial Area CSS 
-------------------*/

/* -----------------
Client Area CSS
-------------------*/

/* -----------------
Subcription Area CSS
-------------------*/

/* -----------------
Footer Area CSS
-------------------*/
